<footer class="footer has-background-dark">
  <div class="columns content has-text-white layout-wrapper">
    <div class="column has-text-centered">
      <figure class="image is-inline-block mb-3">
        <img src="assets/logo.no-text.svg"
             alt="Logo of Sapphire CMS"
             style="width: 48px;" />
      </figure>
      <h5 class="title is-5 is-main">Sapphire CMS</h5>
      <p>A modern, open-source headless CMS under the Apache 2.0 license.</p>
    </div>

    <div class="column">
      <h6 class="title is-6 has-text-grey-light">Links</h6>

      @for (link of layout.links; track $index) {
        <p>
          <a class="has-text-white is-size-7"
             [routerLink]="link['router-link']"
             [fragment]="link.fragment">
            <span>{{ link.label }}</span>
          </a>
        </p>
      }
    </div>

    <div class="column">
      <h6 class="title is-6 has-text-grey-light">Social media</h6>
      <div class="buttons">

        @for (social of layout.socials; track $index) {
          <a [href]="social.href"
             target="_blank"
             rel="noopener noreferrer"
             class="button is-inverted"
             style="border: none">
            <span class="icon">
              <i class="fa-2x"
                 [ngClass]="social.icon"></i>
            </span>
        </a>
        }
      </div>
    </div>
  </div>
</footer>
