<aside class="menu pt-4 pl-4">
  @for (section of menu.sections; track $index) {
    <p class="menu-label">{{ section.label }}</p>
    <ul class="menu-list">
      @for (topic of section.topics; track $index) {
        <li>
          @if (topic.ref) {
            <a [routerLink]="refToRoute(topic.ref)">{{ topic.title }}</a>
          } @else if (topic['coming-soon']) {
            <a>
              <span>{{ topic.title }}</span>
              &nbsp;
              <span class="tag is-warning">Coming soon</span>
            </a>
          }

          @if (topic.chapters?.length) {
            <ul>
              @for (chapter of topic.chapters; track $index) {
                @if (chapter.ref) {
                  <a [routerLink]="refToRoute(chapter.ref)">{{ chapter.title }}</a>
                } @else if (chapter['coming-soon']) {
                  <a>
                    <span>{{ chapter.title }}</span>
                    &nbsp;
                    <span class="tag is-warning">Coming soon</span>
                  </a>
                }
              }
            </ul>
          }
        </li>
      }
    </ul>
  }
</aside>
