<aside class="menu pt-4 pl-4">
  <p class="menu-label">Getting Started</p>
  <ul class="menu-list">
    <li><a routerLink="/docs/getting-started/introduction">Introduction</a></li>
    <li><a routerLink="/docs/getting-started/core-concepts">Core Concepts</a></li>
    <li><a routerLink="/docs/getting-started/installation">Installation</a></li>
  </ul>

  <p class="menu-label">Usage</p>
  <ul class="menu-list">
    <li><a routerLink="/docs/usage/csm-config">CMS Config</a></li>
    <li><a routerLink="/docs/usage/content-schemas">Content Schemas</a></li>
    <li><a routerLink="/docs/usage/rendering-pipelines">Rendering Pipelines</a></li>
    <li><a routerLink="/docs/usage/document-shapers">Document Shapers</a></li>
    <li>
      <a>
        <span>AOT Bundling</span>
        &nbsp;
        <span class="tag is-warning">Coming soon</span>
      </a>
    </li>
  </ul>

  <p class="menu-label">Content Modeling</p>
  <ul class="menu-list">
    <li>
      <a routerLink="/docs/content-modeling/field-types">Field Types</a>
      <ul>
        <li><a routerLink="/docs/content-modeling/field-types/check">Check</a></li>
        <li><a routerLink="/docs/content-modeling/field-types/group">Group</a></li>
        <li><a routerLink="/docs/content-modeling/field-types/number">Number</a></li>
        <li><a routerLink="/docs/content-modeling/field-types/reference">Reference</a></li>
        <li><a routerLink="/docs/content-modeling/field-types/rich-text">Rich Text</a></li>
        <li><a routerLink="/docs/content-modeling/field-types/tag">Tag</a></li>
        <li><a routerLink="/docs/content-modeling/field-types/text">Text</a></li>
      </ul>
    </li>
    <li>
      <a>Field Validators</a>
      <ul>
        <li><a>Between</a></li>
        <li><a>Integer</a></li>
        <li><a>Required</a></li>
      </ul>
    </li>
  </ul>

  <p class="menu-label">Content Management</p>
  <ul class="menu-list">
    <li><a>CLI</a></li>
    <li>
      <a>
        <span>REST API</span>
        &nbsp;
        <span class="tag is-warning">Coming soon</span>
      </a>
    </li>
    <li>
      <a>
        <span>GraphQL</span>
        &nbsp;
        <span class="tag is-warning">Coming soon</span>
      </a>
    </li>
    <li>
      <a>
        <span>Manager UI</span>
        &nbsp;
        <span class="tag is-warning">Coming soon</span>
      </a>
    </li>
    <li>
      <a>
        <span>Live Editor</span>
        &nbsp;
        <span class="tag is-warning">Coming soon</span>
      </a>
    </li>
  </ul>

  <p class="menu-label">Deployment</p>
  <ul class="menu-list">
    <li><a>Node</a></li>
    <li>
      <a>
        <span>Bun</span>
        &nbsp;
        <span class="tag is-warning">Coming soon</span>
      </a>
    </li>
    <li>
      <a>
        <span>AWS Lambda</span>
        &nbsp;
        <span class="tag is-warning">Coming soon</span>
      </a>
    </li>
    <li>
      <a>
        <span>Firebase</span>
        &nbsp;
        <span class="tag is-warning">Coming soon</span>
      </a>
    </li>
    <li>
      <a>
        <span>Vercel</span>
        &nbsp;
        <span class="tag is-warning">Coming soon</span>
      </a>
    </li>
    <li>
      <a>
        <span>Browser</span>
        &nbsp;
        <span class="tag is-warning">Coming soon</span>
      </a>
    </li>
  </ul>

  <p class="menu-label">Development</p>
  <ul class="menu-list">
    <li><a>Architecture</a></li>
    <li><a>Modules</a></li>
    <li>
      <a>Layers</a>
      <ul>
        <li><a>Admin Layer</a></li>
        <li><a>Bootstrap Layer</a></li>
        <li><a>Content Layer</a></li>
        <li><a>Delivery Layer</a></li>
        <li><a>Management Layer</a></li>
        <li><a>Persistence Layer</a></li>
        <li><a>Platform Layer</a></li>
        <li><a>Render Layer</a></li>
      </ul>
  </li>
  </ul>
</aside>
