<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item"
       routerLink="/home">
      <img src="assets/logo.svg" alt="Logo of Sapphire CMS" />
    </a>

    <a class="navbar-item"
       target="_blank"
       rel="noopener noreferrer"
       href="https://www.npmjs.com/package/@sapphire-cms/core">
      <div class="tags has-addons">
        <span class="tag is-info">v{{ latestVersion }}</span>
      </div>
    </a>

    <span class="navbar-burger"
          data-target="navbarMenu"
          aria-label="menu"
          aria-expanded="false"
          (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </span>
  </div>

  <div class="navbar-menu"
       [class.is-active]="menuOpen">
    <div class="navbar-start">



      @for (link of layout.links; track $index) {
        <a class="navbar-item"
           [routerLink]="link['router-link']"
           [fragment]="link.fragment">
          <span>{{ link.label }}</span>
        </a>
      }
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          @for (social of layout.socials; track $index) {
            <p class="control">
              <a [href]="social.href"
                 target="_blank"
                 rel="noopener noreferrer"
                 class="button is-white">
              <span class="icon">
                <i class="fa-2x"
                   [ngClass]="social.icon"></i>
              </span>
              </a>
            </p>
          }
        </div>
      </div>
    </div>
  </div>
</nav>
