<section class="hero is-main">
  <div class="hero-body layout-wrapper">
    <div class="columns">
      <div class="column">
        <h2 class="title is-2 is-main">Sapphire CMS</h2>
        <h1 class="subtitle is-1">
          <strong>A progressive headless CMS for a serverless world.</strong>
        </h1>
        <h5 class="subtitle is-5 has-text-grey-dark">
          A <strong class="has-text-link-30">Progressive CMS</strong> is a content management system that starts with a tiny core and grows with your project.
          It’s modular by design, serverless-ready, and built for a multi-platform world.
        </h5>
      </div>

      <div class="column has-text-centered">
        <img src="assets/illustration.svg"
             style="height: 408px;" />
      </div>
    </div>
  </div>
</section>
