<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="assets/logo.svg" alt="Logo of Sapphire CMS" />
    </a>

    <span class="navbar-burger"
          data-target="navbarMenu">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </span>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        <span>Home</span>
      </a>
      <a class="navbar-item">
        <span>Sponsorship</span>
      </a>
      <a class="navbar-item"
         href="#contact">
        <span>Contact</span>
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a href="https://github.com/sapphire-cms"
               target="_blank"
               rel="noopener noreferrer"
               class="button is-white">
              <span class="icon">
                <i class="fa-brands fa-2x fa-github"></i>
              </span>
            </a>
          </p>

          <p class="control">
            <a href="#"
               target="_blank"
               rel="noopener noreferrer"
               class="button is-white">
              <span class="icon">
                <i class="fa-brands fa-2x fa-discord"></i>
              </span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>

<section class="hero is-main">
  <div class="hero-body">
    <div class="columns">
      <div class="column">
        <h2 class="title is-2 is-main">Sapphire CMS</h2>
        <h1 class="subtitle is-1">
          <strong>A progressive headless CMS for a serverless world.</strong>
        </h1>
        <h5 class="subtitle is-5 has-text-grey-dark">
          A <strong class="has-text-link-30">Progressive CMS</strong> is a content management system that starts with a tiny core and grows with your project.
          It’s modular by design, serverless-ready, and built for a multi-platform world.
        </h5>
      </div>

      <div class="column has-text-centered">
        <img src="assets/illustration.svg"
             style="height: 408px;" />
      </div>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <h3 class="title is-3 has-text-centered is-main">Features</h3>

    <div class="columns is-centered">
      <div class="column is-one-third">
        <div class="box is-fullheight content is-small has-background-link-100">
          <h6 class="title is-6">
            Microscopic Core, Modular Design
          </h6>
          <p>Start small and grow as you go. All you need is a GitHub account and Docker to start publishing content.</p>
          <p>Sapphire CMS uses a <strong>tiny</strong> core that can be progressively enhanced with <strong>plug-and-play modules</strong> as your project grows.</p>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="box is-fullheight content is-small has-background-link-100">
          <h6 class="title is-6">
            Built for the Serverless World
          </h6>
          <p>Sapphire CMS is a <strong>first-class citizen of the serverless ecosystem</strong>.</p>
          <p>Deploy effortlessly to <strong>Vercel, Netlify, Cloudflare Workers, Firebase Functions, AWS Lambda</strong>, and more.</p>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="box is-fullheight content is-small has-background-link-100">
          <h6 class="title is-6">
            Headless & Framework-Agnostic
          </h6>
          <p>Use <strong>any frontend you want</strong> — Next.js, Nuxt, Astro, Svelte, or plain HTML.</p>
          <p>Sapphire CMS delivers content via flexible, decoupled APIs that <strong>fit any stack</strong>.</p>
        </div>
      </div>
    </div>

    <div class="columns is-centered">
      <div class="column is-one-third">
        <div class="box is-fullheight content is-small has-background-link-100">
          <h6 class="title is-6">
            Lightning-Fast Content Delivery
          </h6>
          <p>Render and push content directly to <strong>CDNs or edge databases</strong>.</p>
          <p>Enjoy near-zero latency delivery that feels like content is <strong>hardcoded into your app</strong>, but with full CMS flexibility.</p>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="box is-fullheight content is-small has-background-link-100">
          <h6 class="title is-6">
            Content Shapers for Every Channel
          </h6>
          <p>Target different platforms with precision.</p>
          <p>Use <strong>content shapers</strong> to tailor output for:</p>

          <ul>
            <li>Mobile vs Desktop</li>
            <li>Social media (e.g. Twitter/X, Instagram, etc)</li>
            <li>Newsletters or SEO snippets</li>
          </ul>

          <p>Resize images, shorten text, plug in AI — shape your content pipeline as you wish.</p>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="box is-fullheight content is-small has-background-link-100">
          <h6 class="title is-6">
            Instant Visual Editing
          </h6>
          <p>Edit your content <strong>live and visually</strong>, right from the page.</p>
          <p>Use the Sapphire CMS <strong>Chrome or Firefox plugin</strong> to fix typos or tweak text directly on your production site.</p>
        </div>
      </div>
    </div>

    <div class="columns is-centered">
      <div class="column is-one-third">
        <div class="box is-fullheight content is-small has-background-link-100">
          <h6 class="title is-6">
            Serverless Search Engine
          </h6>
          <p>Integrate <strong>Sapphire Search</strong> — a lightweight, fast, serverless-native search engine built just for Sapphire CMS.</p>
          <p>Enable your users to <strong>search content</strong>, without relying on third-party search services.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <h3 class="title is-3 has-text-centered is-main">Sponsorship</h3>
    <h5 class="subtitle is-5 has-text-centered is-italic">
      (Sponsorships are not open at this time. For any inquiries, please reach out to us via the <a href="#contact">contact form</a>.)
    </h5>

    <div class="box has-background-warning-95">
      <figure class="image has-image-centered">
        <img src="assets/tiers/quartz.svg"
             style="height: 110px;"
             alt="Representation of quartz cristal.">
      </figure>

      <div class="content mt-3">
        <h4 class="title is-4 has-text-warning-30">Quartz Supporter</h4>
        <h5 class="subtitle is-5 mt-5">Donation: $500</h5>

        <p>
          The <strong class="has-text-warning-30">Quartz tier</strong> is open to anyone who wants to contribute their <strong class="has-text-warning-30">grain of sand</strong> to the foundation of the next generation of CMS.
        </p>
        <p>
          Whether you're a <strong class="has-text-warning-30">small developer agency or a professional user</strong> who loves Sapphire CMS, your support means the world to us.
        </p>
        <p>
          Your contribution helps us move faster, build better, and keep the project truly open.
        </p>

        <h6 class="title is-6 has-text-warning-30">You’ll receive:</h6>
        <ul>
          <li>Your company’s logo displayed in the <strong class="has-text-warning-30">Supporters section</strong> on our website.</li>
          <li><strong class="has-text-warning-30">A thank-you shoutout</strong> on our social media channels.</li>
        </ul>
      </div>
    </div>

    <div class="box has-background-link-95">
      <figure class="image has-image-centered">
        <img src="assets/tiers/amethyst.svg"
             style="height: 110px;"
             alt="Representation of amethyst cristal.">
      </figure>

      <div class="content mt-3">
        <h4 class="title is-4 has-text-link-60">Amethyst Sponsor</h4>
        <h5 class="subtitle is-5 mt-5">Donation: $1,000</h5>

        <p>
          The <strong class="has-text-link-60">Amethyst tier</strong> is designed for <strong class="has-text-link-60">developer agencies and tech teams</strong> using Sapphire CMS to build powerful,
          modern content platforms — whether for themselves or their clients.
        </p>
        <p>
          Becoming an Amethyst Sponsor shows that your company is committed to delivering
          <strong class="has-text-link-60">future-proof, high-performance solutions</strong> built for the modern web.
        </p>

        <h6 class="title is-6 has-text-link-60">You’ll receive:</h6>
        <ul>
          <li>Your company’s logo displayed in the <strong class="has-text-link-60">Amethyst Sponsors section</strong> on our website.</li>
          <li><strong class="has-text-link-60">Occasional mentions</strong> in our public updates and social posts via <strong class="has-text-link-60">round-robin rotation</strong>.</li>
        </ul>
      </div>
    </div>

    <div class="box has-background-danger-95">
      <figure class="image has-image-centered">
        <img src="assets/tiers/ruby.svg"
             style="height: 110px;"
             alt="Representation of ruby cristal.">
      </figure>

      <div class="content mt-3">
        <h4 class="title is-4 has-text-danger-30">Ruby Partner</h4>
        <h5 class="subtitle is-5 mt-5">Donation: $5,000</h5>

        <p>
          The <strong class="has-text-danger-30">Ruby Partner</strong> tier is designed for companies actively using Sapphire CMS in production and looking for <strong class="has-text-danger-30">priority technical support</strong>
          and <strong class="has-text-danger-30">faster issue resolution</strong>.
        </p>
        <p>
          It’s a perfect fit for <strong class="has-text-danger-30">small to mid-sized businesses</strong> whose operations
          <strong class="has-text-danger-30">depend heavily on content creation and delivery</strong>
          — and who want priority access to the team behind the CMS.
        </p>

        <h6 class="title is-6 has-text-danger-30">You’ll receive:</h6>
        <ul>
          <li>Your company’s logo featured in the <strong class="has-text-danger-30">Ruby Partners section</strong> of our site.</li>
          <li><strong class="has-text-danger-30">Priority support and issue handling</strong>, with faster turnaround and dedicated attention.</li>
        </ul>
      </div>
    </div>

    <div class="box has-background-info-95">
      <figure class="image has-image-centered">
        <img src="assets/tiers/diamond.svg"
             style="height: 110px;"
             alt="Representation of diamond cristal.">
      </figure>

      <div class="content mt-3">
        <h4 class="title is-4 has-text-info-60">Diamond Partner</h4>
        <h5 class="subtitle is-5 mt-5">Donation: $10,000</h5>

        <p>
          Becoming a <strong class="has-text-info-60">Diamond Partner</strong> means more than just support —
          it’s a statement that your company shares our <strong class="has-text-info-60">vision</strong> and is committed to shaping the future of web content.
        </p>
        <p>
          This tier is reserved for <strong class="has-text-info-60">forward-thinking companies</strong> whose values align with ours,
          and who want to play an <strong class="has-text-info-60">active role in the evolution of Sapphire CMS</strong>.
        </p>

        <h6 class="title is-6 has-text-info-60">You’ll receive:</h6>
        <ul>
          <li><strong class="has-text-info-60">Premium logo placement</strong> in the exclusive Diamond Partner section.</li>
          <li><strong class="has-text-info-60">Direct influence</strong> over our roadmap and feature prioritization.</li>
          <li><strong class="has-text-info-60">Priority access and support</strong> from the core team.</li>
          <li>A <strong class="has-text-info-60">tailored presentation/workshop</strong> delivered by the founder of Sapphire CMS, at your office (virtual or on-site).</li>
        </ul>
      </div>
    </div>

    <div class="box has-background-dark">
      <figure class="image has-image-centered">
        <img src="assets/tiers/obsidian.svg"
             style="height: 110px;"
             alt="Representation of obsidian cristal.">
      </figure>

      <div class="content has-text-white mt-3">
        <h4 class="title is-4 has-text-white">Obsidian Founding Partner</h4>
        <h6 class="subtitle is-6 has-text-grey-light is-italic">(Exclusive Tier – Only 10 Spots Available)</h6>
        <h5 class="subtitle is-5 has-text-grey-lighter">Donation: $10,000+</h5>

        <p>
          Becoming an <strong class="has-text-white">Obsidian Founding Partner</strong> means more than making a donation —
          it means becoming the <strong class="has-text-white">foundation stone of a new generation of CMS</strong>.
        </p>
        <p>
          This exclusive tier is reserved for <strong class="has-text-white">10 carefully selected companies</strong>
          who recognized the potential of <strong class="has-text-white">Progressive Headless CMS</strong> before the world caught on.
        </p>

        <h6 class="title is-6 has-text-white">You’ll receive:</h6>
        <ul>
          <li><strong class="has-text-white">Lifetime recognition</strong> on the homepage and GitHub.</li>
          <li>Your company’s logo in the <strong class="has-text-white">most prominent and dedicated space</strong> for Founding Partners.</li>
          <li><strong class="has-text-white">Top priority</strong> in roadmap discussions and feature requests.</li>
          <li><strong class="has-text-white">All benefits of the Diamond Tier</strong>, and then some.</li>
          <li>And, of course — our <strong class="has-text-white">deepest gratitude and permanent respect</strong> as one of the first to believe.</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="hero has-background-link-95">
  <div class="hero-body">
    <h3 class="title is-3 has-text-centered is-main">Contact</h3>
    <p class="mb-5">For any inquiries, please use the contact form below to reach out to us.</p>

    @if (!messageSent) {
      <app-contact-form [sending]="sendingMessage"
                        (sendMessage)="sendMessage($event)">
      </app-contact-form>
    } @else {
      <div class="box has-text-centered">
        <div>
        <span class="icon has-text-success is-large">
          <i class="far fa-2x fa-check-circle"></i>
        </span>
        </div>
        <p>
          Thank you for your interest! We will respond as soon as possible.
        </p>
      </div>
    }
  </div>
</section>

<footer class="footer has-background-dark">
  <div class="columns content has-text-white">
    <div class="column has-text-centered">
      <figure class="image is-inline-block mb-3">
        <img src="assets/logo.no-text.svg"
             alt="Logo of Sapphire CMS"
             style="width: 48px;" />
      </figure>
      <h5 class="title is-5 is-main">Sapphire CMS</h5>
      <p>A modern, open-source headless CMS under the Apache 2.0 license.</p>
    </div>

    <div class="column">
      <h6 class="title is-6 has-text-grey-light">Links</h6>
      <p>
        <a class="has-text-white is-size-7">Features</a>
      </p>
      <p>
        <a class="has-text-white is-size-7">Sponsorship</a>
      </p>
      <p>
        <a class="has-text-white is-size-7">Contact</a>
      </p>
    </div>

    <div class="column">
      <h6 class="title is-6 has-text-grey-light">Social media</h6>
      <div class="buttons">
        <a href="https://github.com/sapphire-cms"
           target="_blank"
           rel="noopener noreferrer"
           class="button is-inverted">
          <span class="icon">
            <i class="fa-brands fa-2x fa-github"></i>
          </span>
        </a>

        <a href="#"
           target="_blank"
           rel="noopener noreferrer"
           class="button is-inverted">
          <span class="icon">
            <i class="fa-brands fa-2x fa-discord"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</footer>
