<section class="hero">
  <div class="hero-body layout-wrapper">
    <h1 class="title is-1 has-text-centered is-main">Sponsorship</h1>
    <h5 class="subtitle is-5 has-text-centered is-italic">
      (Sponsorships are not open at this time. For any inquiries, please reach out to us via the <a routerLink="/home" fragment="contact">contact form</a>.)
    </h5>

    <div class="content">
      <p>
        By sponsoring Sapphire CMS, you're not just supporting the development of a next-generation CMS —
        you're also gaining <strong>tangible value for your company</strong>.
        The benefits included in our sponsorship tiers —
        like <strong>influence over the roadmap</strong> and <strong>priority technical support</strong> —
        deliver far more value than the cost of entry,
        especially when compared to traditional enterprise support models.
      </p>
    </div>

    <h3 class="subtitle is-3 has-text-centered is-main mt-6">Sponsor Tiers</h3>

    <div class="content">
      <p>
        Our Sponsor Tiers are designed for developer agencies who want to show their commitment to open source and gain <strong>real visibility</strong> in the Sapphire CMS ecosystem.
      </p>
    </div>

    <div class="columns">
      <div class="column">
        <div class="box has-background-warning-95">
          <app-sponsor-tier-snippet [sponsorTier]="quartzTier"
                                    [imgHeight]="50"
                                    titleClass="has-text-warning-30">
          </app-sponsor-tier-snippet>

          <div class="has-text-centered mt-5">
            <a class="button is-warning"
               routerLink="/sponsorship"
               fragment="quartz">
              <span>Learn more</span>
            </a>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="box has-background-link-95">
          <app-sponsor-tier-snippet [sponsorTier]="amethystTier"
                                    [imgHeight]="50"
                                    titleClass="has-text-link-60" >
          </app-sponsor-tier-snippet>

          <div class="has-text-centered mt-5">
            <a class="button is-link"
               routerLink="/sponsorship"
               fragment="amethyst">
              <span>Learn more</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <h3 class="subtitle is-3 has-text-centered is-main mt-6">Partner Tiers</h3>
    <div class="content">
      <p>
        Our Partner Tiers are built for companies that don’t just use open source — they help drive it forward.
      </p>
      <p>
        As a Sapphire CMS Partner, you’re not just supporting development — you're becoming part of it.
      </p>
      <p>
        <strong>Gain early access, roadmap influence</strong>, and <strong>direct collaboration</strong> with the core team as we build the next generation of headless, modular, serverless content infrastructure.
      </p>
    </div>

    <div class="columns">
      <div class="column">
        <div class="box has-background-danger-95">
          <app-sponsor-tier-snippet [sponsorTier]="rubyTier"
                                    [imgHeight]="75"
                                    titleClass="has-text-danger-30" >
          </app-sponsor-tier-snippet>

          <div class="has-text-centered mt-5">
            <a class="button is-danger"
               routerLink="/sponsorship"
               fragment="ruby">
              <span>Learn more</span>
            </a>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="box has-background-info-95">
          <app-sponsor-tier-snippet [sponsorTier]="diamondTier"
                                    [imgHeight]="75"
                                    titleClass="has-text-info-60" >
          </app-sponsor-tier-snippet>

          <div class="has-text-centered mt-5">
            <a class="button is-info"
               routerLink="/sponsorship"
               fragment="diamond">
              <span>Learn more</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <h3 class="subtitle is-3 has-text-centered is-main mt-6">Exclusive Founding Partner Tier</h3>
    <div class="columns">
      <div class="column">
        <div class="box has-background-dark">
          <figure class="image has-image-centered mb-3">
            <img src="assets/tiers/obsidian.svg"
                 style="height: 110px;"
                 alt="Representation of obsidian cristal.">
          </figure>

          <h5 class="title is-5 has-text-white has-text-centered">{{ obsidianTier.tier }}</h5>
          <h6 class="subtitle is-6 has-text-grey-light is-italic has-text-centered">(Exclusive Tier – Only 10 Spots Available)</h6>
          <h6 class="subtitle is-6 has-text-centered has-text-grey-lighter">
            <span>Donation: </span>
            <span class="is-family-monospace is-size-5">${{ obsidianTier.donation }}+</span>
          </h6>

          <h6 class="title is-6 has-text-centered mt-3 has-text-grey-lighter">For whom:</h6>
          <h6 class="subtitle is-6 has-text-centered is-italic has-text-white">{{ obsidianTier['for-whom']?.join(', ') }}</h6>

          <div class="has-text-centered">
            <a class="button is-light is-outlined"
               routerLink="/sponsorship"
               fragment="obsidian">
              <span>Learn more</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="quartz"
         class="hero is-fullheight has-background-warning-95">
  <div class="hero-body layout-wrapper">
    <div>
      <app-sponsor-tier-presentation [sponsorTier]="quartzTier"
                                     highlightClass="has-text-warning-30">
      </app-sponsor-tier-presentation>
    </div>
  </div>
</section>

<section id="amethyst"
         class="hero is-fullheight has-background-link-95">
  <div class="hero-body layout-wrapper">
    <div>
      <app-sponsor-tier-presentation [sponsorTier]="amethystTier"
                                     highlightClass="has-text-link-60">
      </app-sponsor-tier-presentation>
    </div>
  </div>
</section>

<section id="ruby"
         class="hero is-fullheight has-background-danger-95">
  <div class="hero-body layout-wrapper">
    <div>
      <app-sponsor-tier-presentation [sponsorTier]="rubyTier"
                                     highlightClass="has-text-danger-30">
      </app-sponsor-tier-presentation>
    </div>
  </div>
</section>

<section id="diamond"
         class="hero is-fullheight has-background-info-95">
  <div class="hero-body layout-wrapper">
    <div>
      <app-sponsor-tier-presentation [sponsorTier]="diamondTier"
                                     highlightClass="has-text-info-60">
      </app-sponsor-tier-presentation>
    </div>
  </div>
</section>

<section id="obsidian"
         class="hero is-fullheight has-background-dark">
  <div class="hero-body layout-wrapper">
    <div>
      <app-sponsor-tier-presentation [sponsorTier]="obsidianTier"
                                     contentClass="has-text-white"
                                     highlightClass="has-text-white">
      </app-sponsor-tier-presentation>
    </div>
  </div>
</section>
