<app-main-hero></app-main-hero>

<section class="hero">
  <div class="hero-body layout-wrapper">
    <h3 class="title is-3 has-text-centered is-main">
      <span>Why Sapphire?</span>
    </h3>

    <div class="columns is-centered">
      <div class="column is-one-third">
        <app-argument [argument]="arguments.environmentAgnostic"></app-argument>
      </div>

      <div class="column is-one-third">
        <app-argument [argument]="arguments.trulyHeadless"></app-argument>
      </div>

      <div class="column is-one-third">
        <app-argument [argument]="arguments.modularHackable"></app-argument>
      </div>
    </div>

    <div class="columns is-centered">
      <div class="column is-one-third">
        <app-argument [argument]="arguments.lowCode"></app-argument>
      </div>

      <div class="column is-one-third">
        <app-argument [argument]="arguments.futureFirstFeatures"></app-argument>
      </div>

      <div class="column is-one-third">
        <app-argument [argument]="arguments.loved"></app-argument>
      </div>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body layout-wrapper">
    <h3 class="title is-3 has-text-centered is-main">
      <span>Features</span>
    </h3>

    <div class="columns is-centered">
      <div class="column is-one-third">
        <app-cms-feature [feature]="features.modular"></app-cms-feature>
      </div>

      <div class="column is-one-third">
        <app-cms-feature [feature]="features.serverless"></app-cms-feature>
      </div>

      <div class="column is-one-third">
        <app-cms-feature [feature]="features.headless"></app-cms-feature>
      </div>
    </div>

    <div class="columns is-centered">
      <div class="column is-one-third">
        <app-cms-feature [feature]="features.fast"></app-cms-feature>
      </div>

      <div class="column is-one-third">
        <app-cms-feature [feature]="features.shapers"></app-cms-feature>
      </div>

      <div class="column is-one-third">
        <app-cms-feature [feature]="features.visualEditing"></app-cms-feature>
      </div>
    </div>

    <div class="columns is-centered">
      <div class="column is-one-third">
        <app-cms-feature [feature]="features.searchEngine"></app-cms-feature>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="hero has-background-link-95">
  <div class="hero-body layout-wrapper">
    @if (!contactShown && !messageSent) {
      <h3 class="title is-3 has-text-centered is-main">
        <span>Waitlist</span>
      </h3>
      <p class="mb-5">Join our waitlist to get early access.</p>

      <app-subscribe-form [sending]="sendingMessage"
                          (subscribe)="subscribe($event)"
                          (askQuestion)="contactShown = true">
      </app-subscribe-form>
    } @else if (contactShown && !messageSent) {
      <h3 class="title is-3 has-text-centered is-main">
        <span>Contact</span>
      </h3>
      <p class="mb-5">For any inquiries, please use the contact form below to reach out to us.</p>

      <app-contact-form [sending]="sendingMessage"
                        (sendMessage)="sendMessage($event)"
                        (back)="contactShown = false">
      </app-contact-form>
    } @else {
      <div class="box has-text-centered">
        <div>
        <span class="icon has-text-success is-large">
          <i class="far fa-2x fa-check-circle"></i>
        </span>
        </div>
        <p>
          Thank you for your interest! We will respond as soon as possible.
        </p>
      </div>
    }
  </div>
</section>
